*{
box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 3s all ease-in-out;
}

.jumbotron{color:blueviolet;
    height: 30px;
    padding-top: 240px;
    padding-bottom: 280px;
}
h1{
    text-align: center
}
.flex{display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;
}

#button {
    text-align: center;
    font-size: 25px;
    padding: 10px;
    background-color: black;
    border-radius: 8px;
    color: white;
  }
  
  #button:hover {
    background-color: black;
  }
  
  #Side x {
    width: 30%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  #Side y {
    width: 30%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  #Side z {
    width: 30%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
  }
  